{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="intro-example" class="text-center bg-image">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="d-flex justify-content-center align-items-center h-100 py-5">
            <div class="text-white">
                <h1 class="mb-3">LILLY COINS</h1>
                <h5 class="mb-4">Cryptocurrency for CATS (Cool and techy students)</h5>
                <a class="btn btn-outline-light btn-lg m-2" href="{% url 'signup' %}" role="button">Signup</a>
                <a class="btn btn-outline-light btn-lg m-2" href="{% url 'login' %}" role="button">Login</a>
            </div>
        </div>
    </div>
</div>
<style>
    body{
        background-image: url('static/header.jpg');
    }
</style>
{% endblock content %}